<!DOCTYPE html>
<html>

<head>
  <title>🏹 Monster Slayer</title>
  <link rel="stylesheet" href="./foundation.min.css">
  <link rel="stylesheet" href="./app.css">
  <script src="../vue.js"></script>
</head>

<body>
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">PLAYER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHealth + '%'}">
            HP: {{ playerHealth }}
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">
            HP: {{ monsterHealth }}
          </div>
        </div>
      </div>
    </section>
    <section class="row controls" v-if="!gameStarted">
      <div class="small-12 columns">
        <button id="start-game" @click="initGame">Start New Game</button>
      </div>
    </section>
    <section class="row controls" v-else>
      <div class="small-12 columns">
        <button id="attack" @click="attack">Attack</button>
        <button id="special-attack" @click="specialAttack">Special Attack</button>
        <button id="heal" @click="heal">Heal</button>
        <button id="give-up" @click="initGame">Restart</button>
      </div>
    </section>
    <section class="row log" v-if="turnLog.length > 0">
      <div class="small-12 columns">
        <ul v-for="turn in turnLog">
          <li>{{ turn.text }}</li>
        </ul>
      </div>
    </section>
  </div>
  <script src="./app.js"></script>
</body>

</html>