<!DOCTYPE html>
<html>

<head>
  <title>🏹 Monster Slayer</title>
  <link rel="stylesheet" href="./foundation.min.css">
  <link rel="stylesheet" href="./app.css">
  <script src="../vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- Health point bars -->
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">{{ username }}</h1>
        <div class="healthbar">
          <div
            class="healthbar text-center"
            style="background-color: green; margin: 0; color: white;"
            :style="{width: playerHealth + '%'}"
          >
            <template v-if="playerHealth != 100">
              HP: {{ playerHealth }}/100
            </template>
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">Monster</h1>
        <div class="healthbar">
          <div
            class="healthbar text-center"
            style="background-color: green; margin: 0; color: white;"
            :style="{width: monsterHealth + '%'}"
          >
            <template v-if="monsterHealth != 100">
              HP: {{ monsterHealth }}/100
            </template>
          </div>
        </div>
      </div>
    </section>

    <!-- Player actions  -->
    <section class="row controls" v-if="!gameStarted">
      <div class="small-12 columns">
        <button id="start-game" @click="initGame">Start New Game</button>
      </div>
    </section>
    <section class="row controls" v-else>
      <div class="small-12 columns">
        <button id="attack" @click="attack">Attack</button>
        <button id="special-attack" @click="specialAttack">Special Attack</button>
        <button id="heal" @click="heal">Heal</button>
        <button id="give-up" @click="initGame">Restart</button>
      </div>
    </section>

    <!-- Turn log -->
    <section class="row log" v-if="turnLog.length > 0">
      <div class="small-12 columns">
        <ul>
          <li
            v-for="turn in turnLog"
            :class="{
              'player-turn': turn.isPlayerTurn,
              'monster-turn': !turn.isPlayerTurn,
              'player-heal': turn.isHealing
            }"
          >
            {{ turn.text }}
          </li>
        </ul>
      </div>
    </section>
  </div>

  <!-- Scripts -->
  <script src="./app.js"></script>
</body>

</html>